[submodule "problems_complete/s41467-026-73844-0_f1-atpase-markov-model/repo"]
	path = problems_complete/s41467-026-73844-0_f1-atpase-markov-model/repo
	url = https://github.com/YixinChen95/MarkovianF1.git
[submodule "problems_imcomplete/s41467-026-71453-5_soil-metagenome-fticr-integration/repo/analysis"]
	path = problems_imcomplete/s41467-026-71453-5_soil-metagenome-fticr-integration/repo/analysis
	url = https://github.com/EMSL-MONet/The-1000-Soil-ICR-Metagenome.git
[submodule "problems_imcomplete/s41467-026-71453-5_soil-metagenome-fticr-integration/repo/preprocessing"]
	path = problems_imcomplete/s41467-026-71453-5_soil-metagenome-fticr-integration/repo/preprocessing
	url = https://github.com/osumpcheng/FTICR_preprocess.git
[submodule "problems_imcomplete/s41467-026-73164-3_tracebind-atac-footprinting/repo"]
	path = problems_imcomplete/s41467-026-73164-3_tracebind-atac-footprinting/repo
	url = https://github.com/lyx-lin/TraceBIND.git
[submodule "problems_complete/s41467-026-73977-2_forge-cancer-drug-response/repo"]
	path = problems_complete/s41467-026-73977-2_forge-cancer-drug-response/repo
	url = https://github.com/sreerampeela/FORGE.git
[submodule "problems_imcomplete/s41586-026-10588-3_mitochondria-nuclear-pore-interaction/repo/phylogeny"]
	path = problems_imcomplete/s41586-026-10588-3_mitochondria-nuclear-pore-interaction/repo/phylogeny
	url = https://github.com/akwestfall/EvolutionRANBP2.git
[submodule "problems_complete/s41589-026-02251-9_idr-condensate-serine-charge/repo"]
	path = problems_complete/s41589-026-02251-9_idr-condensate-serine-charge/repo
	url = https://github.com/GFP12345/Opposing_Roles_of_Serine_and_Charge_in_IDR_Condensate_Miscibility.git
